body{
    display: flex;
    align-items: flex-start;
}

.blue{
    padding: 100px;
    background-color: blue;
}

.yo{
    padding: 100;
    margin: 50px;
    background-color: yellow;

}

.flex{
    display: flex;
}