body{
    display: flex;
    align-items: flex-start;
}

.blue{
    padding: 20px;
    background-color: blue;
}

.yo{
    padding: 20;
    margin: 10px;
    background-color: yellow;

}

.red{
    padding-right: 80px;
    background-color: red;
}

.flex{
    display: flex;
}